<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pricewise.app">

    <application
        android:name=".PriceWiseApp"
        android:label="PriceWise"
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
